
#body{
    background-image: url(https://wallpaperaccess.com/full/3902116.jpg);
background-size: cover;

}
#card{
background-color: transparent;
border: none;
}
.login{
    margin-top:12vw;
}
#imgll{
    margin-left: 41%;
    font-size: 4vw;
    color: rgb(33, 113, 142);
    
}
#imgl{
    margin-left: 5vw;
    font-size: 4vw;
    color: rgb(33, 113, 142);
    
}
.signup{
  margin-top: 16vw;

}
input{
    background: transparent;
    text-align: center;
    border: none;
    border-bottom: 2px solid rgb(34, 34, 186);
   padding: 3%;
  color: rgb(0, 99, 40);
}

::-webkit-input-placeholder{
    color: rgb(19, 5, 107);
    opacity: 90%;
}
#signupbtn{
  margin-left: 72%;
  margin-top: 8px;
  font-weight: 600;
  color: rgb(9, 70, 93);
  border-bottom: 2px solid rgb(17, 113, 135) ;
  
}
#signupbtn:hover{
    border-bottom: 2px solid rgb(23, 188, 225) ;
}
#loginbtn{
    font-weight: 600;
    color: rgb(10, 35, 75);
    background-color: rgb(67, 173, 211);
}

#signupbtn2{
    margin-left: 35%;
  margin-top: 8px;
    font-weight: 600;
    color: rgb(10, 35, 75);
    background-color: rgb(67, 173, 211);
}

#loginbtn2{
    margin-top: 8px;
    font-weight: 600;
    color: rgb(9, 70, 93);
    border-bottom: 2px solid rgb(17, 113, 135) ;
    
  }
  #loginbtn2:hover{
      border-bottom: 2px solid rgb(23, 188, 225) ;
  }